artifacts/remote-runs/*/*/checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
artifacts/remote-runs/daf-final-submission/checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
*.pdf binary
*.pptx binary
*.png binary
